<h1 class="registration-select-header">What type of account do you want to choose?</h1>
<div align="center">
  <div class="personal">
    <h3 id="personal-button"><a href="#">Personal</a></h3>
  </div>
  <div class="business">
    <h3 id="business-button"><%= link_to "Business", company_new_path %></h3>
  </div>
</div>
