<ul id="admin-list">
	<li id="admin-action"><a href="#">Admin item menu</a></li>
	<li id="admin-action"><a href="#">Admin item menu</a></li>
	<li id="admin-action"><a href="#">Admin item menu</a></li>
	<li id="admin-action"><a href="#">Admin item menu</a></li>
	<li id="admin-action"><a href="#">Admin item menu</a></li>
	<li id="admin-action"><a href="#">Admin item menu</a></li>
</ul>