<div id="sidebar">
	<ul id="sidebar-list">
		<li id="sidebar-list-item">Company if user.comp</li>
		<li id="sidebar-list-item">Personal</li>
		<li id="sidebar-list-item">Setting</li>
		<li id="sidebar-list-item">Upgrade</li>
		<li id="sidebar-list-item">Log out</li>
	</ul>
</div>
<div id="header">
	<div id="profile">
		My profile pic
	</div>
	<div id="business-name">
		Storm Tracker
	</div>
	<div id="salary">
		Remaining Salary: £1500
	</div>
</div>