<div class="settContainer" id="accountBoard" align="center">
<p class="setting-sub-header">Account settings</p>
	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">
</div>