<div id="companyBoard">
	<p id="header">Name</p>
	<input type="textbox" id="input-text"></div>

	<p id="header">Name</p>
	<input type="textbox" id="input-text"></div>

	<p id="header">Name</p>
	<input type="textbox" id="input-text"></div>

	<p id="header">Name</p>
	<input type="textbox" id="input-text"></div>
</div>