<div class="settContainer" id="companyBoard" align="center">
<p class="setting-sub-header">Company settings</p>
<p id="header">Name</p>
<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">
</div>
