<div id="otherBoard" class="settContainer" align="center">
<p class="setting-sub-header">Other settings</p>
	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">

	<p id="header">Name</p>
	<input type="textbox" id="input-text">
</div>