<ul class="account-settings">
	<li class="account-settings-item"><a href="#" onclick="blah()">Account</a></li>
	<li class="account-settings-item"><a href="#" onclick="blah()">Company</a></li>
	<li class="account-settings-item"><a href="#">Other</a></li>
</ul>