div#company-container {
	position: relative;
	left: 40%;
	top: 100px;
	display: inline;
	margin-bottom: 2%;
}

div#company-user{
	display: inline-block;
	margin-left: 3%;
	margin-top: 0.5%;
	padding: 0.5%;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#75a3a3, #94b8b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#75a3a3, #94b8b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#75a3a3, #94b8b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#75a3a3, #94b8b8); /* Standard syntax */
}

img.company-user-image {
	border-radius: 30%;
}

p#company-user-name {
	font-size: 1.3em;
	color: white;
}

p#company-user-email {
	font-size: 1.3em;
	color: white;
}

a#company-action {
	color: white;
}

p.branch-header {
	position: absolute;
	top: 8%;
	left: 13%;
	margin: 0px;
	padding: 0px;
	font: bold 1.4em/22px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: white;
}

select.branch-select {
	position: absolute;
	top: 10%;
	left: 13%;
}

.branch-search{
  position: absolute;
  top: 12%;
  left: 13.4%;
}

div.company-select-container{
	position: relative;
	margin-top: 10%;
}

div.company-container {
	color: white;
  display: inline-block;
	margin-right: 20px;
	font: 1.2em/19px "Courier New", Arial, Helvetica, Geneva, Monospace, serif;
	border: 5px solid #E6E6DC;
	background-color: #00628B;
	padding: 10px;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	z-index: 999999;
}

#comp-name {
	color: white;
	margin-bottom: 5px;
}

.branch-list-select {
	position: relative;
	left: 8%;
	margin-bottom: 10px;
}
