div#expense {
	width: 75%;
	height: 1.7%;
	position: relative;
	left: 20%;
	margin-top: 5%;
	display: inline-block;
	margin-left: 0%;
	padding-bottom: 5px;

	background: linear-gradient(#e6e6e6, #999999);
}

div#expense-image {
	display: inline-block;
	width: 2.27%;
	height: 1.61%;
}

div#expense-title {
	position: absolute;
	display: inline-block;
	margin-left: 20%;
	margin-top: 1%;
}

div#expense-description {
	position: absolute;
	display: inline-block;
	margin-left: 35%;
	margin-top: 4%;
}

div#expense-amount {
	position: absolute;
	top: 82%;
	display: inline-block;
	margin-left: 18%;
}

div#expense-user {
	position: absolute;
	display: inline-block;
	margin-left: 17%;
	top: 0%;
}

div#expense-status {
	position: absolute;
	display: inline-block;
	margin-left: 69%;
	top: 60%;
}

a#create-expense {
	position: absolute;
	right: 1%;
	top: 7%;
	font-size: 1.8em;
	margin: 0%;
	text-align: center;
	padding-right: 0.6%;
	padding-left: 0.6%;
	border: 1px solid white;
	text-decoration: none;
	color: white;
}

a#create-expense:hover {
	color: #d9d9d9;
	border: 1px solid #d9d9d9;
}

div#expense-dropdown {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 50%;
	right: 1%;
	top: 17%;
	padding: 0.5%;
	background-color: grey;
	display: none;
}

label#expense-label {
	color: white;
	font-size: 1.6em;
}

input#expense-textbox:focus {
	border: 2px solid #33ccff;
	max-width: 17.3%;
}

input#expense-textbox:focus {
	border: 2px solid #33ccff;
}