.expense-container {
  height: auto;
}

#expense-header, #expense{
  text-align: center;
}

#exp-id-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-name-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-status-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-id{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-name{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 26.3%;
  max-width: 26.3%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc:hover,#exp-id:hover,#exp-name:hover,#exp-status:hover {
  background-color: #b3b3b3;
  -webkit-box-shadow: 1px 0px 30px 0px rgba(17, 223, 255, 0.75);
  -moz-box-shadow:    1px 0px 30px 0px rgba(17, 223, 255, 0.75);
  box-shadow:         1px 0px 30px 0px rgba(17, 223, 255, 0.75);
}

#exp-status{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#expense-title-header{
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

a#create-expense {
	position: relative;
 	font-size: 1.8em;
 	top: 80px;
 	left: 96%;
	margin: 0%;
	text-align: center;
	padding-right: 0.6%;
	padding-left: 0.6%;
	border: 1px solid white;
	text-decoration: none;
	color: white;
}

a#create-expense:hover {
	color: #d9d9d9;
	border: 1px solid #d9d9d9;
}

div#expense-dropdown {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 50%;
	right: 1%;
	top: 12%;
	padding: 0.5%;
	background-color: grey;
	display: none;
}

label#expense-label {
	color: white;
	font-size: 1.6em;
}

input#expense-textbox:focus {
	border: 2px solid #33ccff;
}

input#expense-textbox:focus {
	border: 2px solid #33ccff;
}

div#company-actions {
	position: absolute;
	left: 45%;
	right: 55%;
	width: 100%;
	top: 7%;
}

ul#company-action-menu {
	list-style-type: none;
	display: inline;
}

li#company-list-action {
	display: inline;
}

span.tooltip-text {
	display: none;
	color: white;
	background-color: grey;
	border-radius: 5%;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    right: 100%;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.expense-form {
	position: relative;
	left: 50%;
	margin-top: 15%;
}

.expense-create-container {
	position: relative;
	margin-top: 10%;
	left: 45%;
}

.expense-label {
	margin-left: 5%;
	font: bold 1.6em/25px "Courier New", Arial, Helvetica, Geneva, Monospace, serif;
}

.expense-field {
	width: 22%;
}

.expense-area {
	width: 18%;
	height: 100px;
}

.expense-area:focus, .expense-field:focus {
  border: 2px solid #33ccff;
}

.expense-submit {
	margin-left: 6%;
	color: white;
  display: inline-block;
	margin-right: 20px;
	font: 1.2em/19px "Courier New", Arial, Helvetica, Geneva, Monospace, serif;
	border: 5px solid #E6E6DC;
	background-color: #00628B;
	padding: 10px;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	z-index: 999999;
}
