div#user-form {
	position: relative;
	margin-top: 3%;
}

h2#user-header {
	font-size: 2.8em;
}

label#user-label {
	font-size: 1.6em;
}

input#user-textbox:focus {
	border: 2px solid #33ccff;
}

img.user-picture {
	width: 33%;
	border-radius: 50%;
}